<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ttpicshk.tk.SkillCircle">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name="ttpicshk.tk.SkillCircle.AllApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkillCirclePlatform">

        <activity android:name="ttpicshk.tk.SkillCircle.WriteArticle"></activity>
        <activity
            android:name="ttpicshk.tk.SkillCircle.ArticleDetail"
            android:theme="@style/DetailPageTheme" />
        <activity android:name="ttpicshk.tk.SkillCircle.LogInActivity" />
        <activity
            android:name="ttpicshk.tk.SkillCircle.AboutMeActivity"
            android:theme="@style/DetailPageTheme" />
        <activity
            android:name="ttpicshk.tk.SkillCircle.HomePage"
            android:label="MainPage"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>